header {

	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.navbar {

	margin: 0;
	padding: 0;
}

#circleItLogo {

	background-image: url("./circle-it-logo.png");
	height: 45px;
	width: 45px;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 2px solid white;
	border-radius: 7px;
	background-color: #fff;

}

.fas, .fa {
	cursor: pointer;
}

.btn {

	border-radius: 4px;
}

/* Fixes cog dropdown-menu to drop to the left instead of right (off the screen)*/
.dropdown-menu {

    right: 0; 
    left: auto; 
}

.fa-sticky-note {

	opacity: 0.4;
}

.fa-edit {

	opacity: 0.6;
}

.strikeThrough {

	text-decoration: line-through;
}

.newDateFontSize {

	font-size: 11px;
}

.taskInfo {

	text-align: right;
	float: right;
    right: 0px;
}