body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#circleItLogo {

	background-image: url("./circle-it-logo.png");
	height: 45px;
	width: 45px;
	background-size: 100%;
	background-repeat: no-repeat;
	border: 2px solid white;
	border-radius: 7px;
	background-color: #fff;

}

/* Fixes cog dropdown-menu to drop to the left instead of right (off the screen)*/
.dropdown-menu {

    right: 0; 
    left: 50px; 
}

#businessMeetingImageLarge {

	background-image: url("./business-meeting.jpeg");
	background-repeat: no-repeat;
	height: 400px;
	background-size: 100%;
	background-position: center;
	background-opacity: 50%;

}

#businessMeetingImageSmall {

	background-image: url("./business-meeting.jpeg");
	background-repeat: no-repeat;
	height: 250px;
	background-size: 100%;
	background-position: center;
	background-opacity: 50%;

}

.darkBackground {

	width: 100%;
	height: 100%;
	background-color:rgba(35, 50, 75, 0.6);
	z-index: 1;
}

.tagLineLarge {

	padding-top: 150px;
}

.tagLineSmall {

	padding-top: 60px;
}

.informationText {

	color: black;
}

#landingPageImageLarge {

	background-image: url("./landingPageSmall.png");
	background-size: 100%;
	height: 350px;
	width: auto;
	background-repeat: no-repeat;
}

#landingPageImageSmall {

	background-image: url("./landingPageSmall.png");
	background-size: 100%;
	height: 150px;
	width: auto;
	background-repeat: no-repeat;
}

.navbar {

	padding: 0;
}

.feedbackText {

	color: black;
}

.btn {

	border-radius: 4px;
}

.form-control {

	border-radius: 4px;
}

